rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    match /messages/{messageId} {
      function isAdminUser() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
      }

      // Anyone can create a message
      allow create: if true;
      // Only admins read, list, delete, or update message data
      allow read, list, update, delete: if isSignedIn() && isAdminUser();
    }

    match /referrals/{referralId} {
      function isAdminUser() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
      }

      // Anyone can create a referral
      allow create: if true;
      // Only admins read, list, delete, or update referral data
      allow read, list, update, delete: if isSignedIn() && isAdminUser();
    }

    match /users/{userId} {
      function isTrueUser() {
        return userId == request.auth.uid;
      }

      function isAdminUser() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
      }

      // Anyone can create a user
      allow create: if true;
      // Only admins or true user's can read, list, or update user data
      allow read, list, update: if isSignedIn() && (isTrueUser() || isAdminUser());
      // Only admins may delete users
      allow delete: if isAdminUser();
    }

    match /buildings/{buildingId} {
      function isTrueUser() {
        return resource.data.clientId == request.auth.uid;
      }

      function isAdminUser() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
      }

      // Anyone can create a building
      allow create: if true;
      // Only admins or that building owner can read or list building data
      allow read, list, update: if isSignedIn() && (isTrueUser() || isAdminUser());
      // Only admins or that building owner may delete buildings
      allow delete: if isTrueUser() || isAdminUser();
    }

    match /other/{docId} {
      function isAdminUser() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
      }

      // Anyone can create a other doc
      allow create: if true;
      // Only admins read, list, delete, or update other data
      allow read, list, update, delete: if isSignedIn() && isAdminUser();
    }
  }
}