/* 
* Borders 
*/
.s-border {
    border-style: solid;
    border-width: 1px;
    border-color: #35515B;
}

.m-border {
    border-style: solid;
    border-width: 3px;
    border-color: #35515B;
}

.l-border {
    border-style: solid;
    border-width: 5px;
    border-color: #35515B;
}

.left-border {
    border-left: 6px solid #35515B;
    padding: 10px 0px 10px 5px;
}


.border-green {
    border: 5px solid #79A06B;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.border-blue {
    border: 3px solid #032632;
    padding: 8px 15px 8px 15px;
}

/* 
* Display 
*/
.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}
.display-inline {
    display: inline;
}
.hide {
    display: none;
}

/* 
* Overflow 
*/
.overflow-div {
    overflow-x:auto;
}
.clearfix {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}

/*
* Background colors 
*/
.background-xxlight-blue {
    background: #DCF2F9
}

.background-xlight-blue {
    background: #B9E5F3
}

.background-light-blue {
    background: #9AA8AD
}

.background-blue {
    background: #35515B
}

.background-white {
    background: white
}

/* 
* Table 
*/
table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-size: 1.5em;
    font-weight: bolder;
    margin: .5em 0 .75em;
    color: #35515B;
    text-align: left;
}

.price {
    text-align: right;
}

th, td {
    padding: 8px !important;
    text-align: left;
    border-bottom: 1px solid #D6D6D6;
}

thead {
 background-color: #032632;
 color: white;
}

tbody tr:hover {
    background-color:#DCF2F9;
}

/* 
* Card 
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (min-width: 901px) {
    .card {
        padding: 2%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        padding: 5%;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*  
* Misc css classes manipulating objects and accessibility 
*/
/* *:focus {
    outline: #F5C551 dotted 1px !important;
}

*::-moz-focus-inner { 
    outline: #F5C551 dotted 1px !important;
}  */


/*  
* Alert message box 
*/
.danger-alert {
    padding: 10px;
    background-color: #FA3C57; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }


/*
*  Scroll bar
*/
 .scrollbar {
     margin-left: 30px;
     float: left;
     background: #F5F5F5;
     overflow-y: scroll;
     margin-bottom: 25px;
 }

#skinny-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #DCF2F9;
}

#skinny-scroll::-webkit-scrollbar {
	width: 6px;
	background-color: #DCF2F9;
}

#skinny-scroll::-webkit-scrollbar-thumb {
	background-color: #35515B;
}

/* 
* Hover
*/
.hover:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #F5C551;
    cursor: pointer;
}
/* Hover for extra */
.extra { 
    display: none;
    margin-bottom: 5px;
}

.hover-for-extra:hover .extra {
    display: block;
}

/* Hero */
.hero-container-large {
    height: 600px;
    max-width: 100%;
}

.hero-container-small {
    height: 400px;
    max-width: 100%;
}

.hero-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("https://firebasestorage.googleapis.com/v0/b/goprestigepower.appspot.com/o/site%2Fpexels-pixabay-371900.jpg?alt=media&token=7a8d2ed4-2e35-42b9-b190-7c1ae0196b9a");
    height: 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://firebasestorage.googleapis.com/v0/b/goprestigepower.appspot.com/o/site%2Fscience-in-hd-ZNS6rizp9RU-unsplash.jpg?alt=media&token=e4b227ba-8f2b-4c2e-956f-28138ad823b0");
    height: 100%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .hero-text {
    text-align: center;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h1 {
    font-family: "JuliusSansOne";
    font-size: 60px;
  }

  .hero-text h2 {
    font-size: 30px;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 30px;
    color: white;
    background-color: #35515B;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #032632;
    color: white;
  }


  @media screen and (max-width: 900px) {
   .hero-text {
        width: 85%;
   }
   .hero-container-large {
        height: 400px;
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 30px;
      }
    
      .hero-text h2 {
        font-size: 20px;
      }
}

/* 
* Misc 
*/
.strong-blur {
    filter: blur(6px);
}

.rounded {
    border-radius: 50%;
}  

.cursor-pointer {
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: #D6D6D6 !important;
    border: 0 none;
    color: #D6D6D6;
}

.recaptcha {
    max-width: 304px;
    margin: 0 auto;
}

.content-none { 
    content: none;
}

.half-height {
    height: 50%
}

.two-thirds-height {
    height: 66%
}

.eighty-height {
    height: 80%
}









 


