/*//*/ /*/ Colors /*/ /*//*/
/*

Blue: #35515B
Dark: #032632 <- Primary
Light: #9AA8AD

Yellow: #F5C551
Dark: #F2B725 <- Secondary
Light: #FAE2A8

Red: #E3352B
Dark: #AA2820
Light: #EE8680

Orange: #FF8533
Dark: #B35026
Light: #FFB685

Green: #79A06B
Dark: #578846
Light: #9AB890

Grey: #A1A1A1
Dark: #434444 
Light: #D6D6D6

Fonts: LinLibertine (Headings) & Multicolore (Subheadings) & LouisGeorgeCafe (Body) 

*/
/*//*//*//*//*//*//*//*/

/* Heading */
@font-face {
    font-family: "JuliusSansOne";
    src: url(../fonts/julius-sans-one/JuliusSansOne-Regular.ttf);
}

/* Subheading */
@font-face {
    font-family: "LinLibertine-Regular";
    src: url(../fonts/linux_libertine/LinLibertine_R.ttf);
}
@font-face {
    font-family: "LinLibertine-Italic";
    src: url(../fonts/linux_libertine/LinLibertine_RI.ttf);
}
@font-face {
    font-family: "LinLibertine-SemiBold";
    src: url(../fonts/linux_libertine/LinLibertine_RZ.ttf);
}
@font-face {
    font-family: "LinLibertine-Bold";
    src: url(../fonts/linux_libertine/LinLibertine_RB.ttf);
}

/* Body */
@font-face {
    font-family: "LouisGeorgeCafe-Light";
    src: url(../fonts/louis_george_caf/LouisGeorgeCafeLight.ttf);
}
@font-face {
    font-family: "LouisGeorgeCafe-Regular";
    src: url(../fonts/louis_george_caf/LouisGeorgeCafe.ttf);
}
@font-face {
    font-family: "LouisGeorgeCafe-Italic";
    src: url(../fonts/louis_george_caf/LouisGeorgeCafeItalic.ttf);
}
@font-face {
    font-family: "LouisGeorgeCafe-Bold";
    src: url(../fonts/louis_george_caf/LouisGeorgeCafeBold.ttf);
}

.louis-george-cafe-light {
    font-family: "LouisGeorgeCafe-Light" !important;
}

.louis-george-cafe-regular {
    font-family: "LouisGeorgeCafe-Regular" !important;
}

.louis-george-cafe-bold {
    font-family: "LouisGeorgeCafe-Bold" !important;
}

.lin-libertine-regular {
    font-family: "LinLibertine-Regular" !important;
}

.lin-libertine-bold {
    font-family: "LinLibertine-Bold" !important;
}

.julius-sans-one {
    font-family: "JuliusSansOne" !important;
}

/* 
* Heading
*/
h1 {
    font-size: 3.5em !important;
    font-family: "JuliusSansOne" !important;
}

h2 {
    font-size: 2em !important;
    font-family: "LouisGeorgeCafe-Bold" !important;
}

h3 {
    font-size: 1.5em;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "LouisGeorgeCafe-Bold" !important;
    word-wrap: break-word !important;
    white-space: normal !important;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2em !important;
    }
    h2 {
        font-size: 1.5em !important;
    }
    h3 {
        font-size: 1em !important;
    }
}

h4 {
    font-family: "LouisGeorgeCafe-Bold" !important;
}

h5 {
    font-family: "LouisGeorgeCafe-Bold" !important;
}

/* 
* Body
*/
p {
    font-family: "LinLibertine-Regular" !important;
    line-height: 1.6;
    font-size: 16;
}

a:link {
    text-decoration: none;
    font-family: "LinLibertine-Regular";
    cursor: pointer;
    color: #35515B;
}

a:visited {
    text-decoration: none;
    font-family: "LinLibertine-Regular";
    cursor: pointer;
    color: #032632;
}


b {
    font-family: "LinLibertine-Bold";
}

i {
    font-family: "LinLibertine-Italic";
}

ul,
ol,
li {
    font-family: "LinLibertine-Regular"  !important;
    line-height: 1.6;
    font-size: 16;
}

div {
    font-family: "LinLibertine-Regular";
}

span {
    font-family: "LinLibertine-Regular";
}

label {
    font-size: 18px;
    font-family: "LouisGeorgeCafe-Bold";
}

time {
    font-family: "LinLibertine-Regular" !important;
}

/* 
* Text size 
*/
.xs-text {
    font-size: 8px !important;
}

.s-text {
    font-size: 12px !important;
}

.ms-text {
    font-size: 14px !important;
}

.m-text {
    font-size: 16px !important;
}

.l-text {
    font-size: 20px !important;
}

.xl-text {
    font-size: 24px !important;
}

/* 
* Text coloring 
*/
.black {
    color: black !important;
}
.white {
    color: white !important;
}

/* Grey */
.dark-grey {
    color: #6B6B6B !important;
}
.grey {
    color: #A1A1A1 !important;
}
.light-grey {
    color: #D6D6D6 !important;
}

/* Blue */
.dark-blue {
    color: #B9E5F3 !important;
}
.blue {
    color: #35515B !important;
}
.light-blue {
    color: #9AA8AD !important;
}

/* Yellow */
.dark-yellow {
    color: #F5C551 !important;
}
.yellow {
    color: #F5C551 !important;
}
.light-yellow {
    color: #FEE4AC !important;
}

/* Green */
.dark-green {
    color: #578846 !important;
}
.green {
    color: #79A06B !important;
}
.light-green {
    color: #9AB890 !important;
}
.xlight-green {
    color: #ADEB99 !important;
}

/* Red */
.dark-red {
    color: #AA2820 !important;
}
.red {
    color: #FA3C57 !important;
}
.light-red {
    color: #EE8680 !important;
}

/* Orange */
.dark-orange {
    color: #B35026 !important;
}
.orange {
    color: #FF8533 !important;
}
.light-orange {
    color: #FFB685 !important;
}

/* Pink */
.dark-pink{
    color: #BB8F8D !important;
}
.pink {
    color: #F9BFBC !important;
}
.light-pink{
    color: #FBD9D7 !important;
}

/* Hover color */
.text-hover:hover {
    color: #35515B  !important;
    cursor: pointer;
}

.text-hover-red:hover {
    color: #E3352B  !important;
    cursor: pointer;
}

.text-hover-green:hover {
    color: #79A06B  !important;
    cursor: pointer;
}

.text-hover-dark-green:hover {
    color: #578846  !important;
    cursor: pointer;
}

.text-hover-yellow:hover {
    color: #F5C551  !important;
    cursor: pointer;
}

.text-hover-light-yellow:hover {
    color: #FEE4AC  !important;
    cursor: pointer;
}

.text-hover-pink:hover {
    color: #FF81CC  !important;
    cursor: pointer;
}

.underline-hover:hover {
    text-decoration: underline !important; 
}

/* Misc */
.center-text {
    text-align: center !important; 
}

.anchor {
    font-size: 0;
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
 }

.thick-font {
    font-weight: 900;
}

.semi-thick-font {
    font-weight: 500;
}

.text-shadow {
    text-shadow: 0 0 6px black !important;
}

.l-icon {
    font-size: 50px !important;
    padding: 10px;
}

.xl-icon {
    font-size: 75px !important;
    padding: 10px;
}





